@import 'https://fonts.googleapis.com/css?family=Unica+One|Josefin+Sans|Quattrocento';
/* colors */
$opaque-panel: rgba(0,25,40,0.85);
$serif-font: 'Quattrocento', 'Georgia', serif;
$main-width: 1200px;

@mixin panel {
    background-color:$opaque-panel;
    color:white;
}

body {
    background: {
        image: url("/img/BGgrime.jpg");
        repeat: repeat-y;
        position: top center;
        attachment: fixed;
        color:#014;
    }
    font-family:$serif-font;
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}


#topName {
    
    @include panel;
    
    text-align: center;
    padding: 0.5em 0.5em;
    width:100%;
    h1 {
        font-family: 'Unica One', cursive;
        font-size: 4em;
        margin:0;
    }
}
#top .nav {
    text-align:center;
    .hold {
        display:inline-block;
        @include panel;
        padding: 0.5em 0.5em 1em;
        border-radius: 0 0 10px 10px;
        margin-left:1em;
        margin-right:1em;
        @media screen and (max-width: 450px) {
            border-top: 1px solid rgba(84, 96, 109,0.8);
        }
    }
    ol {
        padding:0;
    }
    li {
        
        display:inline-block;
        @media screen and (max-width: 750px) {
            margin-top: 1em;
        }
        a {
            color: white;
            text-decoration:none;
            padding:0.5em 1em;
            font-family: 'Josefin Sans', sans-serif;
            font-size:1.2em;
            transition:0.2s;
            cursor: pointer;
            &:hover:not(.active) {
                background-color: rgba(255,255,255,0.2);
            }
            &.active {
                border-top: 1px solid rgba(255,255,255,0.7);
                border-bottom: 1px solid rgba(255,255,255,0.7);
                cursor:default;
            }
        }
    }
}

.scroll {
    max-width: $main-width;
    overflow: scroll;
}


#footer {
    width:100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding-top: 15px;
    background: {
        image: url("/img/BGgrime_bottom.jpg");
        repeat: no-repeat;
        position: top center;
        color:#014;
    }
    .row {
        font-size: 1.1em;
        @include panel;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-top: 1px solid #4d5f80;
        
    }
    a {
        color:#91dcff;
        
        transition: 0.2s;
        text-decoration:none;
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        -webkit-transition: border 200ms ease;
        -moz-transition: border 200ms ease;
        -ms-transition: border 200ms ease;
        -o-transition: border 200ms ease;
        transition: border 200ms ease; 
        &:hover {
          border-bottom: 1px solid rgba(255, 255, 255, 1);
        }
    }
}

#desc {
    @include panel;
    padding: 2em;
    position: relative;
    width: 33%;
    margin: {
        left: 3em;
        top: 3em;
    };
    
}

$fancy-lines: 1px solid white;
.fancy {
    line-height: 0.5;
    text-align: center;
    span {
        display: inline-block;
        position: relative;
        @media screen and (min-width: 650px) {
            &:before,
            &:after {
                content: "";
                position: absolute;
                height: 5px;
                border-bottom: $fancy-lines;
                border-top: $fancy-lines;
                top: 0;
                width: 30vw;
            }
            &:before {
                right: 100%;
                margin-right: 15px;
            }
            &:after {
                left: 100%;
                margin-left: 15px;
            }
        }
    }
}


#main {
    padding-left:15px;
    padding-right:15px;

    .item {
    }
    
    .page p {
        text-align:center;
    }
    
    .work {
        @include panel;
        padding: 2em 3em;
        max-width: $main-width;
        margin: 2em auto 50px;
        position: relative;
        
        .clear {
            clear:both;
        }
        
        .descText {
            min-width:300px;
        }
        
        .skills {
            
            @media screen and (min-width:450px) {
                margin-left:10%;
                margin-right:10%;
            }
            ul {
                @media screen and (max-width:767px) {
                    padding-bottom: 8px;
                    border-bottom: 1px solid rgba(84, 96, 109,0.8);
                }
            }
        }
        
        .selfImage-r {
            @media screen and (min-width:600px) {
                float: right;
                margin-left:2em;
            }
            @media screen and (max-width:600px) {
                text-align:center;
            }
            @media screen and (max-width:400px) {
                width:100%;
                height:auto;
            }
            margin-bottom:1em;
        }
        .selfImage-l {
            @media screen and (min-width:600px) {
                float: left;
                margin-right:2em;
            }
            @media screen and (max-width:600px) {
                text-align:center;
            }
            @media screen and (max-width:400px) {
                width:100%;
                height:auto;
            }
            margin-bottom:1em;
            
        }
        
        h2 {
            text-align: center;
            color:#bcdcff;
            border-bottom:1px solid rgba(84, 96, 109,0.3);
            padding-bottom:4px;
        }
        h3 {
            text-align: center;
        }
        .displayImg {
            @media screen and (min-width:650px) {
                float: right;
                margin-left: 3em;
            }
            @media screen and (max-width:650px) {
                margin-bottom:1em;
                width:100%;
            }
            position: relative;
            overflow: hidden;
            @media screen and (max-width:1150px) and (min-width:650px) {
                width:60%;
            }
            img {
                postion: relative;
                @media screen and (max-width:1150px) {
                    width:100%;
                    height: auto;
                }
            }
        }
        .desy {
            min-width:$main-width /3;
        }
    }
}

.gal-link {
        display:inline-block;
        border: 1px solid rgba(255,255,255,0.2);
        transition: 200ms;
        &:hover {
            border: 1px solid rgba(188, 220, 255,0.9);
        }
        margin-left: 0.5em;
        margin-right: 0.5em;
    
}




.btnRegion {
    margin-top: 3.5em;
    
    text-align: center;
    left:15%;
}
a.panelBtn {
    background-color: Transparent;
    color:white;
    background-repeat: no-repeat;
    border: 2px solid white;
    border-radius: 1em;
    padding: 0.7em;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    transition: 0.2s;
    text-decoration: none;
    &:hover {
        background-color: rgba(255,255,255,0.2);
    }
}
